.main{
    width: 800px;
    background: black;
    position: relative;
}
.top{
    background: orange;
    width: 100%;
    height: 100px;


}
.left{
    background: rgba(255, 0, 0, 0.8);
    width: 25%;
    height: 400px;
    float: left;
}
.left-center{
    background: rgba(34, 139, 34, 0.8);
    width: 25%;
    height: 400px;
    float: left;
}
.right-center{
    background: rgba(30, 144, 255, 0.8);
    width: 25%;
    height: 400px;
    float: left;
}
.right{
    background: rgba(255, 20, 147, 0.8);
    width: 25%;
    height: 400px;
    float: left;
}
.bottom{
    background: orange;
    width: 100%;
    height: 100px;
    float: left;
}